
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/JourneyLayout.cshtml";
}

<h1>Success</h1>
<h3>
    @ViewBag.Message
</h3>