<header class="header">
    <h1 class="h1">
        <img style="border-radius:50px;" src="~/images/car.jpeg" height="100" width="100" class="img-thumbnail" />
        Online Journey Portal
    </h1>
    <hr style="border:1px solid green" />
    <nav class="nav">
        | <a asp-action="Welcome" asp-controller="Journey" class="bg-primary">Home</a> | <a asp-action="Index" asp-controller="Car" class="bg-primary">Cars</a> | <a asp-action="Index" asp-controller="Driver" class="bg-primary">Drivers</a> | <a asp-action="Index" asp-controller="Schedule" class="bg-primary">Schedules</a> |
    </nav>
    <hr style="border:1px solid green" />
</header>