
@{
    ViewData["Title"] = "AppointmentConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thankyou. Your Appointment is booked.</h1>
<p>
    <a asp-action="BookAppointment">Book another Appointment</a>
</p>
<div class="mt-5 text-center">
    <a href="/" class="btn btn-primary">Back to Home</a>
</div>
