@using HospitalApp.Models.ViewModel
@model CreateDoctorViewModel

@{
    ViewData["Title"] = "Add Doctor";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddDoctor" method="post">
    
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specialization" class="control-label"></label>
        <input asp-for="Specialization" class="form-control" />
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Qualification" class="control-label"></label>
        <input asp-for="Qualification" class="form-control" />
        <span asp-validation-for="Qualification" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExperienceInYears" class="control-label"></label>
        <input asp-for="ExperienceInYears" class="form-control" />
        <span asp-validation-for="ExperienceInYears" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Doctor</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}