@model HospitalApp.Models.Doctor

@{
    ViewData["Title"] = "Edit Doctor";
}

<h2>Edit Doctor</h2>

<form asp-action="EditDoctor" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />


    <div class="form-group">
        <label asp-for="User.Email" class="control-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Name" class="control-label"></label>
        <input asp-for="User.Name" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.PhoneNumber" class="control-label"></label>
        <input asp-for="User.PhoneNumber" class="form-control" />
        <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specialty" class="control-label"></label>
        <input asp-for="Specialty" class="form-control" />
        <span asp-validation-for="Specialty" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Qualifications" class="control-label"></label>
        <input asp-for="Qualifications" class="form-control" />
        <span asp-validation-for="Qualifications" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ExperienceInYears" class="control-label"></label>
        <input asp-for="ExperienceInYears" class="form-control" />
        <span asp-validation-for="ExperienceInYears" class="text-danger"></span>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
